/* About Us page styles */
.about-section {
    position: relative;
    background: #FFFDFC;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 102px 20px;
    min-height: 900px;
}

.about-text-bg {
    width: 787px;
    height: 229px;
    position: absolute;
    top: 50%;
    right: -250px;
    transform: translateY(-50%) rotate(90deg);
    color: rgba(197.62, 193.51, 194.99, 0.42);
    font-size: 150px;
    font-weight: 400;
    text-transform: lowercase;
    z-index: 2;
    pointer-events: none;
}

.about-content-wrapper {
    position: relative;
    z-index: 10;
    max-width: 680px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.about-main-title {
    font-size: 64px;
    font-weight: 400;
    margin-bottom: 70px;
    z-index: 12;
}

.about-welcome-bg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 120%;
    color: rgba(223, 223, 223, 0.5);
    font-size: 13vw;
    max-font-size: 160px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2vw;
    z-index: 11;
    pointer-events: none;
    line-height: 1;
}

.about-text-content {
    z-index: 12;
    font-size: 24px;
    font-weight: 400;
    line-height: 1.6;
    text-transform: lowercase;
    display: flex;
    flex-direction: column;
    gap: 40px;
    background: rgba(253, 251, 250, 0.5);
    padding: 20px;
    border-radius: 10px;
}

.why-us-list {
    text-align: left;
    margin-top: 20px;
}

.why-us-list p {
    margin-bottom: 15px;
}

.why-us-list ul {
    list-style-type: '· ';
    padding-left: 25px;
}

.why-us-list li {
    padding-left: 10px;
    margin-bottom: 10px;
}